// .interest-rate {

//     &__wrapper-input-line {
//         display: flex;
//     }
//     &__input-line {
//     width: 100%;
//     margin-left: 5px;
//     margin-right: 5px;
//     }
// }

.down-payment {

    &__wrapper-input-line {
        display: flex;
    }
    &__input-line {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;  
    }
}